h1 {
    color: navy;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: gold;
}

body {
    background-color: rgb(255, 246, 231);
    padding-left: 20px;
    padding-right: 15px;
}

h2 {
    border-bottom: 1px solid;
    color: teal;
}

#info {
    line-height: 1.5em;
}

footer {
    text-align: center;
}
